
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox-title">
            <h1>Liquidación</h1>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <select class="form-control" id="cmbxEmpleados">
                                            <option></option>
                                        </select>
                                        <span class="text-danger" hidden id="validacionSelectEmpleado">Por favor, seleccione un empleado.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" id="datepicker">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" id="fechaFin" readonly style="background-color:white" class="form-control" placeholder="Ingrese la fecha de despido" value="">
                                        </div>
                                        <span class="text-danger" hidden id="validacionSelectFechaFin">Por favor, seleccione la fecha de despido.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        @*<div class="col-lg-6" id="cargarSpinner

                            </div>*@
                        @*
                            nombreEmpleado
                            apellidoEmpleado
                            fechaNacimiento
                            sexoEmpleado
                            edadEmpleado
                            descripcionDepartamento
                            descripcionArea
                            descripcionCargo
                            cantidadSueldo
                            descripcionMoneda

                            empresa domestica
                        *@


                        <div id="tiempoTrabajado">
                            <div class="col-lg-6">
                                <ul class="list-group list-inline">
                                    <li>
                                        <h3 class="list-group-item"><strong>Dias: </strong> <span class="text-success">&nbsp;5</span> </h3>
                                        <h3 class="text-center"><strong>Meses: </strong> <span class="text-success">&nbsp;5</span> </h3>
                                    </li>
                                </ul>
                               
                                @*<h3 class="text-success text-center col-md-offset-1" id="h3Dias">1</h3>*@
                            </div>
                            @*<div class="col-lg-2">
                                <h1 class="text-center">Meses</h1>
                                <h3 class="text-success text-center" id="h3Meses">11</h3>
                            </div>
                            <div class="col-lg-2">
                                <h1 class="text-center">Años</h1>
                                <h3 class="text-success text-center" id="h3Anios">3</h3>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/plugins/izitoast")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/Scripts/app/general/Liquidacion")
}


@section Styles {
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/plugins/dataPickerStyles")
}
